server {

    # Port that the web server will listen on
    listen 80;

    # Host that will serve this project
    server_name {{server_name}};

    # The location of our projects public directory
    root {{root_folder}};

    # Point index to the Laravel front controller
    index index.html index.htm index.php;

    charset utf-8;

    location / {

        # URLs to attempt including pretty ones
        try_files $uri $uri/ /index.php?q=$uri&$args;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt { access_log off; log_not_found off; }

    access_log off;
    error_log /var/log/nginx/{{server_name}}-error.log error;

    error_page 404 /index.php;

    sendfile off;

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        #fastcgi_pass unix:/var/run/php5-fpm.sock; This must match /etc/php5/fpm/pool.d/www.conf
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;

        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param SCRIPT_NAME $fastcgi_script_name;
        include fastcgi_params;
        #fastcgi_param               PATH_INFO             $fastcgi_path_info;
        #fastcgi_param               PATH_TRANSLATED       $document_root$fastcgi_path_info;
    }

    location ~ /\.ht {
        deny all;
    }
}